mat-card{
    
    display: block;
    margin-top:140px;
    margin-bottom: 225px;
    margin-right:auto;  
    background-color:rgba(128, 128, 128, 0.285);

    
}
h1{
    font-weight:800;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}