<div class="bootstrap-wrapper exam-background-image">
  <div class="container ">
    <div class="row ">
      <div class="col-md-6 offset-md-3 text-center">
        <mat-card >
          <div class="container text-center">
              <img src="../../../assets/logo.png" alt="">
          </div>
          <h1 class="text-center">Welcome To ExamPrep</h1>
          <button [routerLink]="'/login'" mat-raised-button color="primary">Let's Start <mat-icon>arrow_forward</mat-icon></button>
          </mat-card> 
      </div>
    </div>
  </div>
</div>
